body{
    background-color: salmon;
    padding: 25px 100px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    border-bottom: 3px solid black;
}
.p1{
margin: 1px;
}

h2
{
    border-bottom: 1px solid black;
}
table, th,td{
    text-align: center;
    width: 80%;
    

}
tr{
    text-align: center;
}
h2
{
   
    text-align: center;
}
.component
{
    padding: 2rem;
    background-color: blanchedalmond;
    animation: 2s infinite alternate ease-in-out breathing-color--dark;
}
@keyframes breathing-color--dark
{
    from
    {
        background-color: lightgray;
    }
    to
    {
        background-color: gray;
    }
}
.container
{
    padding: 1rem;
    background-color: white;
}

}
#accordion input {
	display: none;
}
#accordion label {
	background: #eee;
	border-radius: .25em;
	cursor: pointer;
	display: block;
	margin-bottom: .125em;
	padding: .25em 1em;
	z-index: 20;
}
#accordion label:hover {
	background: #ccc;
}

#accordion input:checked + label {
	background: #ccc;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom: 0;
}
#accordion article {
	background: #f7f7f7;
	height:0px;
	overflow:hidden;
	z-index:10;
}
#accordion article p {
	padding: 1em;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
}